@import "./common/var.scss";
.mw-action-sheet {
  &-content {
    width: 100%;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    &.center {
      width: $action-sheet-center-width;
    }
  }
  &-header {
    height: $action-sheet-header-height;
    line-height: $action-sheet-header-height;
    font-size: $action-sheet-font-size;
    color: $action-sheet-color;
  }
  &-item {
    height: $action-sheet-item-height;
    line-height: $action-sheet-item-height;
    box-sizing: border-box;
    font-size: $action-sheet-font-size;
    color: $action-sheet-color;
    &.active {
      color: $action-sheet-item-active-color;
    }
    &.disabled {
      color: $action-sheet-item-disabled-color;
    }
  }
  &-item-loading {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-cancel {
    height: $action-sheet-cancel-height;
    line-height: $action-sheet-cancel-height;
    font-size: $action-sheet-font-size;
    color: $action-sheet-color;
    &::before {
      display: block;
      content: "";
      height: 12px;
      background-color: $action-sheet-cancel-gapbg;
    }
  }
}
