@import "./common/var.scss";
.mw-cell {
  position: relative;
  &.is-disabled {
    .mw-cell__cont,
    .mw-cell__title {
      color: $cell-disabled-color;
    }
  }
  &__body {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $cell-simple-body-padding 0;
    min-height: $cell-body-min-height;
    &.multirow {
      padding: $cell-multirow-body-padding 0;
    }
  }
  &__cont {
    flex: 1 1 0%;
    line-height: 1.2;
    font-size: $cell-title-font-size;
    color: $cell-title-font-color;
  }
  &__title {
    font-size: $cell-title-font-size;
    font-weight: normal;
    color: $cell-title-font-color;
  }
  &__abstract {
    font-size: $cell-abstract-font-size;
    color: $cell-abstract-font-color;
    margin-top: $cell-abstract-margin-top;
  }
  &__left {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: $cell-left-margin-right;
  }
  &__right {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $cell-right-font-size;
    color: $cell-right-font-color;
    margin-left: $cell-right-margin-left;
    .mw-icon-next {
      margin-left: 8px;
      margin-right: -14px;
    }
  }
}