@import "./common/var.scss";
.mw-checkbox {
  display: flex;
  align-items: center;
  margin: 8px 0;
  &.is-right-checkbox{
    flex-direction: row-reverse;
    .mw-checkbox__label{
      flex: 1;
    }
  }
  &.is-disabled{
    .mw-checkbox__icon{
      color: $checkbox-icon-disabled-color;
    }
    .mw-checkbox__label{
      color: $checkbox-label-disabled-color;
    }
  }
  &.is-horizontal{
    display: inline-flex;
    &:not(:last-child){
      margin-right: 14px;
    }
  }
  &__icon{
    flex-shrink: 0;
    color: $checkbox-icon-color;
    .mw-icon{
      display: flex;
    }
  }
  &__label{
    font-size: $checkbox-label-font-size;
    color: $checkbox-label-color;
    margin-left: 3px;
  }
}
  