@import "./common/var.scss";
.mw-collapse{
  background: $collapse-background;
  &-item{
    &.is-disabled{
      color: #c8c9cc;
    }
    &-title{
      display: flex;
      align-items: center;
      position: relative;
      padding: $collapse-title-padding-top $collapse-title-padding-right $collapse-title-padding-bottom $collapse-title-padding-left;
      h5{
        flex: 1;
        font-size: $collapse-title-font-size;
      }
      .collapse-arrow{
        transition: all 0.4s cubic-bezier(0.4, 0.6, 0.2, 1);
        transform: rotate(90deg);
        &.collapse-rotated{
          transform: rotate(-90deg);
        }
      }
    }
    &-cont{
      position: relative;
      overflow: hidden;
      margin-bottom: 1Px;
      transition: height 0.3s cubic-bezier(0.4, 0.6, 0.2, 1);
    }
  }
}