@import "./common/var.scss";
.mw-collapse{
  background: $collapse-background;
  &-item{
    &-title{
      display: flex;
      align-items: center;
      position: relative;
      padding: 10px 20px;
      //overflow: hidden;
      h5{
        flex: 1;
      }
    }
    &-cont{
      position: relative;
      overflow: hidden;
      margin-bottom: 1px;
      transition: height 0.3s cubic-bezier(0.4, 0.6, 0.2, 1);
    }
  }
}