@import "./common/var.scss";
.mw-dialog {
  &-content {
    width: $dialog-content-width;
    border-radius: $dialog-content-border-radius;
    background-color: #fff;
    overflow: hidden;
  }
  &-body {
    color: $dialog-body-color;
    padding: $dialog-body-padding;
    font-size: $dialog-body-font-size;
  }
  &-close {
    position: absolute;
    color: $dialog-close-color;
    top: 30px;
    right: 30px;
    z-index: 15;
  }
  &-title {
    font-size: $dialog-title-font-size;
    color: $dialog-title-color;
    text-align: center;
    margin: 0 0 $dialog-title-margin;
  }
  &-context {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-actions {
    display: flex;
  }
  &-btn {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    height: $dialog-btn-height;
    font-size: $dialog-btn-font-size;
    font-weight: 500;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &.cancel {
      color: $dialog-btn-cancel-color;
    }
    &.confirm {
      color: $dialog-btn-confirm-color;
    }
  }
  &-loading {
    margin-right: 10px;
  }
}