@import "./common/var.scss";
.mw-divider {
  &--horizontal {
    margin: $divider-margin 0;
    display: flex;
    align-items: center;
    border-width: 0;
    border-style: solid;
    color: $divider-text-color;
    font-size: $divider-font-size;
    line-height: $divider-line-height;
    border-color: $divider-border-color;
    &::before,
    &::after {
      flex: 1;
      box-sizing: border-box;
      display: block;
      height: $divider-after-before-height;
      border-color: inherit;
      border-style: inherit;
      border-width: 0 0 $divider-border-width 0;
      transform: scaleY(0.5);
    }
    &::before {
      content: "";
    }
  }

  &--dashed {
    border-style: dashed;
  }
  &--dotted {
    border-style: dotted;
  }
  &--center,
  &--left,
  &--right {
    &::before {
      margin-right: $divider-content-padding;
    }
    &::after {
      content: "";
      margin-left: $divider-content-padding;
    }
  }
  &--left {
    &::before {
      max-width: $divider-content-left-width;
    }
  }
  &--right {
    &::after {
      max-width: $divider-content-right-width;
    }
  }
  &--vertical {
    display: inline-block;
    width: $divider-vertical-width;
    height: 1em;
    margin: 0 $divider-vertical-margin;
    vertical-align: middle;
    background-color: $divider-vertical-color;
    transform: scaleX(0.5);
    &::before,
    &::after {
      display: none;
    }
  }
}