@import "./common/var.scss";
.mw-image {
  position: relative;
  display: inline-block;
  &--circle {
    overflow: hidden;
    border-radius: 50%;
    img {
      border-radius: inherit;
    }
  }
  &-img,
  &--loading,
  &--error {
    display: block;
    width: 100%;
    height: 100%;
  }
  &--loading,
  &--error {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $image-loading-error-background;
  }
}