@import "./common/var.scss";
@import "./mixins/mixin.scss";
//carousel component
.mw-loading-carousel {
  @include clearfix();
  .carousel-svg {
    float: left;
    overflow: visible;
  }
}
//roller carousel
.mw-loading-roller {
  z-index: 1;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -webkit-animation: rotate 0.8s linear infinite;
  animation: rotate 0.8s linear infinite;
  animation-duration: 2s;
  .roller-svg {
    circle {
      stroke: currentColor;
      stroke-linecap: round;
      -webkit-animation: roller 1.5s ease-in-out infinite;
      animation: roller 1.5s ease-in-out infinite;
    }
  }
  /* loading roller*/
  @keyframes roller {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -40;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -120;
    }
  }
  /*loading roller rotate*/
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
.mw-loading {
  &--vertical{
    .mw-loading__cont{
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mw-loading__text{
      margin: 8px 0 0;
    }
  }
  &--fullScreen{
    .mw-loading__cont{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2019;
      padding: 22px 30px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.7);
    }
  }
  &__cont {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__icon {
    z-index: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    vertical-align: middle;
  }
  &__text {
    display: inline-block;
    font-size: 14px;
    margin-left: 12px;
  }
}