@import "./common/var.scss";
.mw-marquee {
  width: 100%;
  overflow: hidden;
  background-color: $marquee-background-color;
  &__cont{
    height: inherit;
  }
  &-align--left{
    justify-content: flex-start;
    .mw-marquee-item{
      padding: 0 $marquee-padding-left-right;
    }
  }
  &-align--center{
    justify-content: center;
  }
  &-align--right{
    justify-content: flex-end;
    .mw-marquee-item{
      padding: 0 $marquee-padding-left-right;
    }
  }
  &-item{
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: inherit;
    color: $marquee-text-color;
    font-size: $marquee-font-size;
  }
}