@import "./common/var.scss";
.mw-noticebar {
  display: flex;
  box-sizing: border-box;
  min-height: $noticebar-min-height;
  position: relative;
  font-size: $noticebar-font-size;
  padding: 0 $noticebar-padding;
  &.mw-noticebar--circular {
    border-radius: $noticebar-border-radius;
  }
  .noticebar-left {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right: $noticebar-left-padding;
    &.noticebar-left-empty {
      padding-right: 0;
    }
    .noticebar-left-svgicon {
      display: inline-block;
      min-width: $noticebar-left-icon-width;
      min-height: $noticebar-left-icon-height;
    }
  }
  .noticebar-cont {
    flex: 1;
    width: fit-content;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    line-height: $noticebar-line-height;
    &.noticebar-cont--wrapable {
      padding: $noticebar-wrapable-padding 0;
      line-height: 1.4;
      white-space: normal;
    }
    .noticebar-cont--ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .noticebar-cont--scroll {
      display: inline-block; /*important*/
      animation: noticebar-animation linear both;
      &.noticebar-cont-scroll--infinite {
        animation: noticebar-animation-infinite linear infinite both;
      }
    }
  }
  .noticebar-right {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    .noticebar-right-svgicon {
      display: inline-block;
      min-width: $noticebar-right-icon-width;
      min-height: $noticebar-right-icon-height;
      padding-left: $noticebar-left-padding;
    }
  }
}

/*
 Declare two same keyframes
*/
@keyframes noticebar-animation {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes noticebar-animation-infinite {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}