@import "./common/var.scss";
.mw-notify {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: $notify-font-size;
  padding: $notify-padding-vertical $notify-padding-horizontal;
  white-space: pre-wrap;
  &--default{
    background-color: $notify-default-color;
  }
  &--success{
    background-color: $notify-success-color;
  }
  &--failed{
    background-color: $notify-failed-color;
  }
  &--warning{
    background-color: $notify-warning-color;
  }
}