@import "./common/var.scss";
.mw-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $overlay-index;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}