@import "./common/var.scss";
.mw-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $popup-index;
  display: flex;
  &--center{
    align-items: center;
    justify-content: center;
  }
  &--top{
    flex-direction: column;
    justify-content: flex-start;
    .mw-popup__box{
      width: 100%;
    }
  }
  &--bottom{
    flex-direction: column;
    justify-content: flex-end;
    .mw-popup__box{
      width: 100%;
    }
  }
  &--left{
    justify-content: flex-start;
    .mw-popup__box{
      height: 100%;
    }
  }
  &--right{
    justify-content: flex-end;
    .mw-popup__box{
      height: 100%;
    }
  }
  &__box{
    position: relative;
    z-index: $popup-index + 1;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    pointer-events: auto;
  }
}