@import "./common/var.scss";
.mw-progress {
  &-cont {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    &.round {
      border-radius: $progress-border-radius;
      .mw-progress-bar {
        border-top-right-radius: $progress-border-radius;
        border-bottom-right-radius: $progress-border-radius;
      }
      .mw-progress-bar-inner {
        border-top-right-radius: $progress-border-radius;
        border-bottom-right-radius: $progress-border-radius;
      }
    }
  }
  &-bar {
    flex: 1;
  }
  &-bar-inner {
    height: 100%;
    transition: width 0.4s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: inherit;
      color: #fff;
      margin-left: 6px;
    }
    .percent {
      line-height: 1;
      font-size: inherit;
      color: #fff;
      margin-right: 6px;
    }
    &.animate {
      position: relative;
      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        animation: progressAnimate 2s ease-in-out infinite;
      }
      @keyframes progressAnimate {
        0% {
          background: rgba(255, 255, 255, 0.1);
          width: 0;
        }
        25% {
          background: rgba(255, 255, 255, 0.5);
          width: 0%;
        }
        to {
          background: rgba(255, 255, 255, 0);
          width: 100%;
        }
      }
    }
  }
  &-text-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    .title,
    .percent {
      line-height: 1;
      font-size: inherit;
    }
  }
  &-text-right {
    line-height: 1;
    margin-left: 6px;
  }
}
