@import "./common/var.scss";
.mw-radio {
  display: flex;
  align-items: center;
  margin: 8px 0;
  &.is-right-radio{
    flex-direction: row-reverse;
    .mw-radio__label{
      flex: 1;
    }
  }
  &.is-disabled{
    .mw-radio__icon{
      color: $radio-icon-disabled-color;
    }
    .mw-radio__label{
      color: $radio-label-disabled-color;
    }
  }
  &.is-horizontal{
    display: inline-flex;
    &:not(:last-child){
      margin-right: 14px;
    }
  }
  &__icon{
    flex-shrink: 0;
    color: $radio-icon-color;
  }
  &__label{
    font-size: $radio-label-font-size;
    color: $radio-label-color;
    margin-left: 3px;
  }
}
  