@import "./common/var.scss";
.mw-showhide {
  height: auto;
  overflow: hidden;
  font-size: $showhide-font-size;
  color: $showhide-text-color;
  margin: $showhide-margin;
  &-content {
    &-desc {
      width: 100%;
      line-height: inherit;
    }
  }
  &-fold {
    display: block;
    z-index: 11;
    float: right;
    p {
      line-height: inherit;
      text-align: right;
      font-size: inherit;
    }
  }
}
.mw-showhide--close {
  position: relative;
  .mw-showhide-content {
    word-wrap: break-word;
    word-break: break-all;
    background: $color-white;
    color: $color-white;
    overflow: hidden;
    &:after,
    &:before {
      content: attr(aria-label);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      color: $showhide-text-color;
    }
    &:before {
      display: block;
      overflow: hidden;
      z-index: 1;
      background: $color-white;
    }
    &:after {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      box-sizing: border-box;
      padding-right: 3em;
    }
    .mw-showhide-fold {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}