@import "./common/var.scss";
.mw-skeleton {
  display: flex;
  box-sizing: border-box;
  &-content {
    flex: 1;
  }
  &-avatar {
    margin-right: $skeleton-avatar-margin-right;
  }
  &-title {
    margin-bottom: $skeleton-title-margin-bottom;
  }
  &-row {
    margin-bottom: $skeleton-row-margin-bottom;
    &:last-child {
      margin-bottom: 0;
    }
  }
}