@import "./common/var.scss";
@mixin mwSkeletonBlink($time: 1.5s, $left: 1000px, $top: 104px) {
  animation-duration: $time;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: mw-skeleton-blink;
  animation-timing-function: linear;
  background: linear-gradient(to right, #f3f3f6 8%, #f8faff 18%, #f3f3f6 33%);
  background-size: $left $top;
}
.mw-skeleton-item {
  box-sizing: border-box;
  &--circle,
  &--square,
  &--bar {
    @include mwSkeletonBlink();
  }
  &--circle {
    border-radius: 50%;
  }
  @keyframes mw-skeleton-blink {
    0% {
      background-position: -$skeleton-item-position-left 0;
    }
    100% {
      background-position: $skeleton-item-position-left 0;
    }
  }
}