@import "./common/var.scss";
.mw-slider {
  position: relative;
  width: 100%;
  height: $slider-height;
  &.is-disabled{
    .mw-slider-track, .mw-slider-bar{
      opacity: $slider-disabled-opacity;
    }
  }
  &-tooltip{
    position: absolute;
    top: -30px;
    z-index: $slider-zIndex + 10;
    transform: translate3d(-50% ,0 , 0);
    span{
      display: flex;
      min-width: $slider-tooltip-minwidth;
      padding: $slider-tooltip-padding;
      border-radius: $slider-tooltip-radius;
      align-items: center;
      justify-content: center;
      background: $slider-tooltip-background;
      font-size: $slider-tooltip-fontsize;
      color: $slider-tooltip-color;
      &::after{
        display: block;
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: -$slider-tooltip-arrow-width;
        left: 50%;
        transform: translateX(-50%);
        border-width: $slider-tooltip-arrow-width $slider-tooltip-arrow-width 0;
        border-style: solid;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-top-color: $slider-tooltip-background;
        border-right-color: transparent;
      }
    }
  }
  &-track{
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0 ,-50%, 0);
    z-index: $slider-zIndex + 2;
    background: $slider-background;
  }
  &-bar{
    width: 0%;
    height: inherit;
    position: relative;
    z-index: $slider-zIndex + 4;
    background: $slider-bar-background;
  }
  &-handle{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(-50% ,-50%, 0);
    z-index: $slider-zIndex + 4;
    &.is-dragging{
      .handle,
      .handle-slot{
        transform: scale(1.2);
      }
    }
    .handle-slot,
    .handel{
      transition: transform .2s;
    }
    .handle{
      display: block;
      touch-action: none; //解决控制台警告
      cursor: pointer;
      width: $slider-handle-width;
      height: $slider-handle-height;
      background: $slider-handle-background;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
      border-radius: 50%;
    }
  }
}
  