@import "./common/var.scss";
.mw-switch {
  box-sizing: content-box;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $switch-background-color;
  transition: background-color 0.3s;
  &-node {
    position: absolute;
    top: 0em;
    left: 0em;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    z-index: 1;
    background-color: $switch-node-background-color;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
      0 3px 3px 0 rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
  }
  &-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &.open {
    .mw-switch-node {
      transform: translateX(1em);
    }
  }
  &.disabled {
    opacity: 0.4;
  }
}