/*mw-fade*/
.mw-fade {
  &-enter,
  &-leave-to {
    opacity: 0.01;
  }
  &-enter-active {
    transition: opacity 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &-leave-active {
    transition: opacity 0.25s linear;
  }
}
/*mw-fade-bottom*/
.mw-fade-bottom {
  &-enter,
  &-leave-to {
    opacity: 0.01;
    transform: translate3d(0, 20px, 0);
  }
  &-enter-active {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &-leave-active {
    transition: all 0.25s linear;
  }
}
/*mw-fade-top*/
.mw-fade-top {
  &-enter,
  &-leave-to {
    opacity: 0.01;
    transform: translate3d(0, -20px, 0);
  }
  &-enter-active {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &-leave-active {
    transition: all 0.25s linear;
  }
}
/*mw-fade-left*/
.mw-fade-left {
  &-enter,
  &-leave-to {
    opacity: 0.01;
    transform: translate3d(-24px, 0, 0);
  }
  &-enter-active {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &-leave-active {
    transition: all 0.25s linear;
  }
}
/*mw-fade-right*/
.mw-fade-right {
  &-enter,
  &-leave-to {
    opacity: 0.01;
    transform: translate3d(24px, 0, 0);
  }
  &-enter-active {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &-leave-active {
    transition: all 0.25s linear;
  }
}
/*mw-zoom*/
.mw-zoom {
  &-enter,
  &-leave-to {
    opacity: 0.01;
    transform: scale(0.75);
  }
  &-enter-active {
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  &-leave-active {
    transition: all 0.25s linear;
  }
}
/*mw-slide-bottom*/
.mw-slide-bottom {
  &-enter,
  &-leave-to {
    transform: translate3d(0, 100%, 0);
  }
  &-enter-active {
    transition: transform 0.3s ease-out;
  }
  &-leave-active {
    transition: transform 0.25s ease-out;
  }
}
/*mw-slide-top*/
.mw-slide-top {
  &-enter,
  &-leave-to {
    transform: translate3d(0, -100%, 0);
  }
  &-enter-active {
    transition: transform 0.45s ease-out;
  }
  &-leave-active {
    transition: transform 0.3s ease-out;
  }
}
/*mw-slide-left*/
.mw-slide-left {
  &-enter,
  &-leave-to {
    transform: translate3d(-100%, 0, 0);
  }
  &-enter-active {
    transition: transform 0.3s ease-out;
  }
  &-leave-active {
    transition: transform 0.25s ease-out;
  }
}
/*mw-slide-right*/
.mw-slide-right {
  &-enter,
  &-leave-to {
    transform: translate3d(100%, 0, 0);
  }
  &-enter-active {
    transition: transform 0.3s ease-out;
  }
  &-leave-active {
    transition: transform 0.25s ease-out;
  }
}
/*mw-bounce*/
.mw-bounce {
  &-enter-active {
    animation: bounceIn 0.55s ease both;
  }
  &-leave-active {
    animation: bounceOut 0.55s ease both;
  }
}
/*mw-bounce-top*/
.mw-bounce-top {
  &-enter-active {
    animation: bounceInDown 0.55s ease both;
  }
  &-leave-active {
    animation: zoomOut 0.25s linear;
  }
}
/*mw-bounce-bottom*/
.mw-bounce-bottom {
  &-enter-active {
    animation: bounceInUp 0.55s ease both;
  }
  &-leave-active {
    animation: zoomOut 0.25s linear;
  }
}
/*mw-bounce-left*/
.mw-bounce-left {
  &-enter-active {
    animation: bounceInLeft 0.55s ease both;
  }
  &-leave-active {
    animation: zoomOut 0.25s linear;
  }
}
/*mw-bounce-right*/
.mw-bounce-right {
  &-enter-active {
    animation: bounceInRight 0.55s ease both;
  }
  &-leave-active {
    animation: zoomOut 0.25s linear;
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounceOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceInRight{
  0%{opacity:0;
  transform:translateX(2000px)}
  60%{opacity:1;
  transform:translateX(-30px)}
  80%{transform:translateX(10px)}
  100%{transform:translateX(0)}
  }
@keyframes zoomOut {
  to {
    opacity: 0.01;
    transform: scale(0.75);
  }
}
