@import "./var.scss";
/*border 1px*/
[class*='mw-hairline'] {
  position: relative;
  &::before {
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    transform: scale(0.5);
    border: 0 solid $color-border;
  }
}
.mw-hairline{
  &--top{
    &:before {
      border-top-width: 1px !important;
    }
  }
  &--right{
    &:before {
      border-right-width: 1px !important;
    }
  }
  &--bottom{
    &:before {
      border-bottom-width: 1px !important;
    }
  }
  &--left{
    &:before {
      border-left-width: 1px !important;
    }
  }
  &--surround{
    &:before {
      border-width: 1px !important;
    }
  }
}