//Color theme
$color-primary:#ff8200; //品牌色

// Color variables
$color-black: #000;
$color-white: #fff;
$color-red: #fd4c4f;
$color-blue: #3483ff;
$color-orange: #ff976a;
$color-orange-dark: #ed6a0c;
$color-orange-light: #fffbe8;
$color-green: #07c160;
$color-gray: #c8c9cc;
$color-gray-light: #e5e5e5;
$color-gray-darker: #7d7e80;
$color-gray-dark: #969799;
$color-border: #e2e4ea;  //边框颜色
$color-body:#f7f8fa; //body背景色

// Font family
$font-family-normal :"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-family-number: DINPro-Medium, DIN Alternate, "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// z-index
$overlay-index: 1000;
$popup-index: 2019;
$notify-index: 2020;

/************   switch component  **************/
$switch-background-color: #fafafa;
$switch-node-background-color: #fff;
$switch-active-background-color: $color-primary;

/************   radio component  **************/
$radio-label-font-size: 30px;
$radio-icon-color: #c0c4cc;
$radio-label-color: #495960;
$radio-icon-disabled-color: #e0e0e0;
$radio-label-disabled-color: #ccc;

/************   checkbox component  **************/
$checkbox-label-font-size: 30px;
$checkbox-icon-color: #c0c4cc;
$checkbox-label-color: #495960;
$checkbox-icon-disabled-color: #e0e0e0;
$checkbox-label-disabled-color: #ccc;

/************   slider component  **************/
$slider-height: 40px;
$slider-zIndex: 5;
$slider-background: #f9f9f9;
$slider-bar-background: $color-primary;
$slider-handle-width: 40px;
$slider-handle-height: 40px;
$slider-handle-background: #fff;
$slider-icon-color: #c0c4cc;
$slider-disabled-opacity: 0.55;
$slider-tooltip-minwidth: 30px;
$slider-tooltip-padding: 8px 10px;
$slider-tooltip-radius: 8px;
$slider-tooltip-fontsize: 26px;
$slider-tooltip-background: rgba(0,0,0,0.7);
$slider-tooltip-color: #fff;
$slider-tooltip-arrow-width: 5px;

/************   button component  **************/
//button defalut
$button-default-height:98px;
$button-default-line-height:96px;
$button-default-font-size:34px;
$button-default-border-radius:2px;
$button-default-padding: 24px;
//button && type
$button-default-color:#323233;
$button-default-background-color:#fff;
$button-default-border-color:#ebedf0;

$button-primary-color:#fff;
$button-primary-background-color:#07c160;
$button-primary-border-color:#07c160;

$button-info-color:#fff;
$button-info-background-color:#1989fa;
$button-info-border-color:#1989fa;

$button-danger-color:#fff;
$button-danger-background-color:#f44;
$button-danger-border-color:#f44;

$button-warning-color:#fff;
$button-warning-background-color:#ff976a;
$button-warning-border-color:#ff976a;

//button && plain
$button-plain-background-color:#fff;

//button && round
$button-round-border-radius: 10em;

//button && disabled
$button-disabled-opacity: 0.3;

//button && size
$button-normal-font-size: 34px;

$button-small-min-width: 90px;
$button-small-height: 60px;
$button-small-line-height: 58px;
$button-small-font-size: 26px;
$button-small-padding: 8px;

$button-large-height: 100px;
$button-large-line-height: 98px;
$button-large-font-size: 36px;
$button-large-padding: 28px;

/************   cell component  **************/
$cell-body-min-height: 100px;
$cell-simple-body-padding: 32px;
$cell-multirow-body-padding: 36px;
$cell-title-font-size: 32px;
$cell-title-font-color: #333;

$cell-abstract-font-size: 26px;
$cell-abstract-font-color: #bdbdbd;
$cell-abstract-margin-top: 10px;

$cell-left-margin-right: 12px;

$cell-right-font-size: 28px;
$cell-right-font-color: #bdbdbd;
$cell-right-margin-left: 10px;

$cell-disabled-color: #c5cad5;

/************   marquee component  **************/
$marquee-font-size: 30px;
$marquee-padding-left-right: 14px;
$marquee-text-color: #333;
$marquee-background-color: #fff;
/************   noticebar component  *************/
$noticebar-min-height: 76px;
$noticebar-line-height: 76px;
$noticebar-font-size: 28px;
$noticebar-padding: 22px;
$noticebar-border-radius: 36px;
$noticebar-left-padding: 5px;
$noticebar-wrapable-padding: 20px;

/************   notify component  **************/
$notify-font-size: 30px;
$notify-padding-horizontal: 24px;
$notify-padding-vertical: 30px;
$notify-default-color: rgba(0, 0, 0, 0.7);
$notify-success-color: #07c160;
$notify-failed-color: #fd4c4f;
$notify-warning-color: #ff976a;

/************   toast component  **************/
$toast-font-size: 30px;
$toast-padding-vertical: 22px;
$toast-padding-horizontal: 20px;
$toast-border-radius: 5px;
$toast-background-color: rgba(0, 0, 0, 0.7);

/************   loading component  **************/
$loading-text-font-size: 28px;
$toast-padding-vertical: 22px;
$toast-padding-horizontal: 20px;
$toast-border-radius: 5px;
$toast-background-color: rgba(0, 0, 0, 0.7);

/************   collapse component  **************/
$collapse-background: #fff;
$collapse-title-padding-top: 24px;
$collapse-title-padding-right: 30px;
$collapse-title-padding-bottom: 24px;
$collapse-title-padding-left: 30px;
$collapse-title-font-size: 32px;

/************   divider component  **************/
$divider-margin: 32px;
$divider-text-color: #969799;
$divider-border-color: #ebedf0;
$divider-font-size: 30px;
$divider-line-height: 40px;
$divider-after-before-height: 1px;
$divider-border-width: 1px;
$divider-content-padding: 24px;
$divider-content-left-width: 10%;
$divider-content-right-width: 10%;
$divider-vertical-margin: 20px;
$divider-vertical-color: #ebedf0;

/************   showhide component  **************/
$showhide-margin: 10px;
$showhide-font-size: 28px;
$showhide-text-color: #434343;

/************   skeleton-item component  **************/
$skeleton-item-position-left: 468px;

/************   skeleton component  **************/
$skeleton-avatar-margin-right: 30px;
$skeleton-title-margin-bottom: 30px;
$skeleton-row-margin-bottom: 20px;

/************   image component  **************/
$image-loading-error-background: #f7f8fa;

/************   dialog component  **************/
$dialog-content-width: 620px;
$dialog-content-border-radius: 24px;
$dialog-body-padding: 50px;
$dialog-body-color: #646566;
$dialog-body-font-size: 30px;
$dialog-close-color: #858b9c;
$dialog-title-font-size: 40px;
$dialog-title-color: #111a34;
$dialog-title-margin: 30px;
$dialog-btn-height: 100px;
$dialog-btn-font-size: 36px;
$dialog-btn-cancel-color: #666f83;
$dialog-btn-confirm-color: $color-primary;

/************   action-sheet component  **************/
$action-sheet-color: #41485d;
$action-sheet-font-size: 32px;
$action-sheet-center-width: 600px;
$action-sheet-header-height: 100px;
$action-sheet-item-height: 110px;
$action-sheet-item-active-color: $color-primary;
$action-sheet-item-disabled-color: #c5cad5;
$action-sheet-cancel-height: 120px;
$action-sheet-cancel-gapbg: #f7f8fa;

/************   progress component  **************/
$progress-border-radius: 20px;

/************   navbar component  **************/
$navbar-background-color: #fff;
$navbar-height: 100px;
$navbar-back-font-size: 30px;
$navbar-more-font-size: 30px;
$navbar-title-font-size: 34px;
$navbar-color: #333;

/************   steps component  **************/
$steps-text-font-size: 28px;
$steps-desc-font-size: 26px;
$steps-current-color: $color-primary;
$steps-reached-color: #323233;
$steps-text-color:#969799;
$steps-desc-color: #7d7e80;
$steps-bar-color:#e2e5e8;
$steps-icon-color:#a9abad;

/************   stepper component  **************/
$stepper-size: 58px;
$stepper-font-size: 26px;
$stepper-button-color: #323233;
$stepper-button-bgcolor: #f2f3f5;
$stepper-input-color: #111a34;
$stepper-input-bgcolor: #f9fafb;
$stepper-disabled-color: #c8c9cc;
$stepper-disabled-bgcolor: #f7f8fa;