@mixin clearfix {
  *zoom:1;
  &:after{
    clear: both;
    content:"";
    display: block;
    height: 0;
  }
}

@mixin bg-image($url, $ext:".png") {
  background-image: url($url + "@2x" + $ext);
  background-repeat: no-repeat;
  @media(-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x" + $ext);
    background-repeat: no-repeat;
  }
}
